<div fxLayout="column" fxFlex class="div-content">

    <div fxLayout="row" class="header-form">
            <span fxFlex>Consulta de Departamentos</span>
            <div>
                    <button mat-raised-button color="accent" 
                    (click)="navigateToNovo()">Novo Aluno</button>
            </div>
    </div>
            
    <div fxFlex>
            <app-aluno-list [alunos]="alunos" 
            (selecionarAluno)="navigateTo($event)"></app-aluno-list>
    </div>
</div>




