<div fxLayout="column">
        <div fxLayout="row" class="header-form">
            <span fxFlex>Visualizar Matricula</span>
            <div>
                <button mat-raised-button class="form-button bgc-grey-500 tc-grey-50" (click)="onBack()">
                    Voltar
                </button>
                <button mat-raised-button color="accent" (click)="navigateToEdit()">
                    Editar
                </button>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center start">
            <mat-card class="background-color" fxFlex="90">
    
                <div fxLayout="column" fxFlex=90>
    
                    <div fxLayout="column">
                            <div fxLayout="column" fxFlex=50 class="field-detail">
                                <span>ID: <span class="label-detail-value">{{matricula.id}}</span></span>
                                
                            </div>
    
                            <div fxLayout="column" fxFlex=50 class="field-detail">
                                <span>Aluno: <span class="label-detail-value">{{matricula.aluno.nome}}</span></span>
                                
                            </div>

                            <div fxLayout="column" fxFlex=50 class="field-detail">
                                <span>Curso: <span class="label-detail-value">{{matricula.curso.area}}</span></span>
                                
                            </div>
    
                            <div fxLayout="column" fxFlex=50 class="field-detail">
                                <span>Data de Matricula: <span class="label-detail-value">{{matricula.dataMatricula | date: 'dd/MM/yyyy hh:mm'}}</span></span>
                               
                            </div>
    
                            <div fxLayout="column" fxFlex=50 class="field-detail">
                                <span>Data de Vencimento: <span class="label-detail-value">{{matricula.dataVencimentoMatricula | date: 'dd/MM/yyyy hh:mm'}}</span></span>
                                    
                            </div>
    
                            <div fxLayout="column" fxFlex=50 class="field-detail">
                                <span>Status do Usuário: <span class="label-detail-value">{{value.myString}}</span></span>
                            </div>
                    </div>
    
                </div>
            </mat-card>
        </div>
    </div>
    
    