<mat-card class="background-color" fxFlex>
    <mat-list *ngFor="let func of alunos" role="list" >
            <mat-list-item (click)="selecionar(func.id, false)" class="item-list" role="listitem" fxFlex>
                    <span fxFlex>{{func.nome | uppercase}}</span>
                    <span fxFlex>{{func.nascimento | uppercase}}</span>
                    <span fxFlex>{{func.cpf | uppercase}}</span>
                    <span fxFlex>{{func.email | uppercase}}</span>
                    <span fxFlex>{{func.celular | uppercase}}</span>
                    <span fxFlex>{{func.tipousuario | uppercase}}</span>
                    <span fxFlex>{{func.disponivel | uppercase}}</span>
                    <button class="button-option" (click)="selecionar(func.id, true)"><mat-icon>edit</mat-icon></button>
            </mat-list-item>
    </mat-list>
</mat-card>