<div fxLayout="column" fxFlex class="div-content">

        <div fxLayout="row" class="header-form">
                <span fxFlex>Consulta de Alunos</span>
                <div>
                        <button mat-raised-button color="accent" (click)="navigateToNovo()">Novo Aluno</button>
                </div>
        </div>
                
        <div fxFlex>
                <app-aluno-list [alunos]="alunos" (selecionarFuncionario)="navigateTo($event)"></app-aluno-list>
        </div>
    </div>
    


