<div fxLayout="column">
    <div fxLayout="row" class="header-form">
        <span fxFlex>Visualizar Curso</span>
        <div>
            <button mat-raised-button class="form-button bgc-grey-500 tc-grey-50" (click)="onBack()">
                Voltar
            </button>
            <button mat-raised-button color="accent" (click)="navigateToEdit()">
                Editar
            </button>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center start">
        <mat-card class="background-color" fxFlex="90">

            <div fxLayout="column" fxFlex=90>

                <div fxLayout="column">
                        <div fxLayout="column" fxFlex=50 class="field-detail">
                            <span>ID: <span class="label-detail-value">{{curso.id}}</span></span>
                            
                        </div>

                        <div fxLayout="column" fxFlex=50 class="field-detail">
                            <span>Area: <span class="label-detail-value">{{curso.area}}</span></span>
                            
                        </div>

                        <div fxLayout="column" fxFlex=50 class="field-detail">
                            <span>Carga Horaria: <span class="label-detail-value">{{curso.cargaHoraria}}</span></span>
                            
                        </div>

                        <div fxLayout="column" fxFlex=50 class="field-detail">
                            <span>Dificuldade <span class="label-detail-value">{{curso.dificuldade}}</span></span>
                            
                        </div>

                        <div fxLayout="column" fxFlex=50 class="field-detail">
                            <span>Ministrante: <span class="label-detail-value">{{curso.ministrante.nome}}</span></span>
                            
                        </div>

                        <div fxLayout="column" fxFlex=50 class="field-detail">
                            <span>Status: <span class="label-detail-value">{{value.myString}}</span></span>                         
                        </div>
                </div>

            </div>
        </mat-card>
    </div>
</div>
