<div fxLayout="column">
        <div fxLayout="row" class="header-form">
            <span fxFlex>Visualizar Reforço</span>
            <div>
                <button mat-raised-button class="form-button bgc-grey-500 tc-grey-50" (click)="onBack()">
                    Voltar
                </button>
                <button mat-raised-button color="accent" (click)="navigateToEdit()">
                    Editar
                </button>
            </div>
        </div>
        <div fxLayout="row" fxLayoutAlign="center start">
            <mat-card class="background-color" fxFlex="90">
    
                <div fxLayout="column" fxFlex=90>
    
                    <div fxLayout="column">
                            <div fxLayout="column" fxFlex=50 class="field-detail">
                                <span>ID:</span>
                                <span class="label-detail-value">{{reforco.id}}</span>
                            </div>
    
                            <div fxLayout="column" fxFlex=50 class="field-detail">
                                <span>Area:</span>
                                <span class="label-detail-value">{{reforco.area}}</span>
                            </div>

                            <div fxLayout="column" fxFlex=50 class="field-detail">
                                    <span>Vagas:</span>
                                    <span class="label-detail-value">{{Vagas.area}}</span>
                                </div>
    
                            <div fxLayout="column" fxFlex=50 class="field-detail">
                                <span>Ministrante:</span>
                                <span class="label-detail-value">{{reforco.ministrante}}</span>
                            </div>
    
                            <div fxLayout="column" fxFlex=50 class="field-detail">
                                <span>Hora de Ínicio:</span>
                                <span class="label-detail-value">{{reforco.horaInicio | date: 'dd/MM/yyyy'}}</span>
                            </div>
    
                            <div fxLayout="column" fxFlex=50 class="field-detail">
                                    <span>Disciplina:</span>
                                    <span class="label-detail-value">{{reforco.disciplina}}</span>
                            </div>
    
                            <div fxLayout="column" fxFlex=50 class="field-detail">
                                <span>Status:</span>
                                <span class="label-detail-value">{{reforco.disponivel}}</span>
                            </div>
                    </div>
    
                </div>
            </mat-card>
        </div>
    </div>
    
    