<div fxLayout="column">
    <div fxLayout="row" class="header-form">
        <span fxFlex>Visualizar Aluno</span>
        <div>
            <button mat-raised-button class="form-button bgc-grey-500 tc-grey-50" (click)="onBack()">
                Voltar
            </button>
            <button mat-raised-button color="accent" (click)="navigateToEdit()">
                Editar
            </button>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center start">
        <mat-card class="background-color" fxFlex="90">

            <div fxLayout="column" fxFlex=90>

                <div fxLayout="column">
                        <div fxLayout="column" fxFlex=50 class="field-detail">
                            <span>ID: <span class="label-detail-value">{{aluno.id}}</span></span>
                        </div>

                        <div fxLayout="column" fxFlex=50 class="field-detail">
                            <span>Nome: <span class="label-detail-value">{{aluno.nome}}</span></span>
                        </div>

                        <div fxLayout="column" fxFlex=50 class="field-detail">
                            <span>CPF:  <span class="label-detail-value">{{aluno.cpf}}</span></span>
                        </div>

                        <div fxLayout="column" fxFlex=50 class="field-detail">
                            <span>Data de Nascimento: <span class="label-detail-value">{{aluno.nascimento | date: 'dd/MM/yyyy'}}</span></span>
                        </div>

                        <div fxLayout="column" fxFlex=50 class="field-detail">
                                <span>Email: <span class="label-detail-value">{{aluno.email}}</span></span>
                        </div>

                        <div fxLayout="column" fxFlex=50 class="field-detail">
                            <span>Celular: <span class="label-detail-value">{{aluno.celular}}</span></span>
                        </div>

                        <div fxLayout="column" fxFlex=50 class="field-detail">
                            <span>Tipo Usuario: <span class="label-detail-value">Aluno</span></span>
                        </div>

                        <div fxLayout="column" fxFlex=50 class="field-detail">
                            <span>Status do Usuário: <span class="label-detail-value">{{value.myString}}</span></span>
                        </div>
                </div>

            </div>
        </mat-card>
    </div>
</div>
