<mat-card class="background-color" fxFlex>
        <mat-list *ngFor="let prof of professores" role="list" >
                    <mat-list-item class="item-list" role="listitem" fxFlex>
                    <div fxFlex (click)="selecionar(prof.id, 0)">                      
                        <span fxFlex>{{prof.nome}}</span>
                        <span fxFlex>{{prof.email}}</span>
                        <span fxFlex>{{prof.tipousuario}}</span>
                    </div>
                    <button class="button-option" (click)="selecionar(prof.id, 1)">
                            <mat-icon>edit</mat-icon>
                    </button>
                    <button class="button-option" (click)="selecionar(prof.id, 2)">
                            <mat-icon>delete</mat-icon>
                    </button>
                </mat-list-item>
        </mat-list>
    </mat-card>