<mat-card class="background-color" fxFlex>
        <mat-list *ngFor="let curs of cursos" role="list" >
                    <mat-list-item class="item-list" role="listitem" fxFlex>
                    <div fxFlex (click)="selecionar(curs.id, 0)">
                        <span fxFlex>{{curs.area}}</span>
                        <span fxFlex>{{curs.cargaHoraria}}</span>
                        <span fxFlex>{{curs.dificuldade}}</span>
                    </div>
                    <button class="button-option" (click)="selecionar(curs.id, 1)">
                            <mat-icon>edit</mat-icon>
                    </button>
                    <button class="button-option" (click)="selecionar(curs.id, 2)">
                            <mat-icon>delete</mat-icon>
                    </button>
                </mat-list-item>
        </mat-list>
    </mat-card>
