<div fxLayout="column">
    <div fxLayout="row" class="header-form">
      <span fxFlex>Cadastrar/Alterar Reforço</span>
        <div>
            <button mat-raised-button class="form-button bgc-grey-500 tc-grey-50" (click)="onBack()">
            Cancelar
            </button>
            <button [disabled]="reforcoForm.invalid" mat-raised-button color="accent" class="form-button" (click)="onSave()">
            Salvar
            </button>
        </div>
    </div>
    <div fxLayout="row" fxLayoutAlign="center start">
        <mat-card class="background-color" fxFlex="90">
            <form [formGroup]="reforcoForm" novalidate>
                <div fxLayout="column" fxFlex=90>

                          <div fxLayout="column">
                            <div fxLayout="row" fxFlex=50>
                                    <mat-form-field fxFlex [floatLabel]="'always'">
                                      <mat-label>Área</mat-label>
                                      <input matInput id="area" formControlName="area"
                                             placeholder="Área"
                                             maxlength="144" layout-align="center end">
                                      <mat-error *ngIf="reforcoForm.get('area').hasError('maxLength')">
                                        Máximo 144 caracteres.
                                      </mat-error>
                                      <mat-error *ngIf="reforcoForm.get('area').hasError('required')">
                                        Área é obrigatório.
                                      </mat-error>
                                    </mat-form-field>
                            </div>

                            <div fxLayout="row" fxFlex=50>
                                <mat-form-field fxFlex [floatLabel]="'always'">
                                  <mat-label>Vagas</mat-label>
                                  <input matInput id="vagas" formControlName="vagas" placeholder="Vagas" maxlength="144" layout-align="center end">
                                  <mat-error *ngIf="reforcoForm.get('vagas').hasError('maxLength')">
                                    Máximo 11 caracteres.
                                  </mat-error>
                                  <mat-error *ngIf="reforcoForm.get('vagas').hasError('required')">
                                    Vagas é obrigatório.
                                  </mat-error>
                                </mat-form-field>
                            </div>
                            
                            <div fxLayout="row" fxFlex=50>
                                <mat-form-field fxFlex [floatLabel]="'always'">
                                  <mat-label>Ministrante</mat-label>
                                  <input type="text" placeholder="Selecione um ministrante" matInput id="ministrante"  formControlName="ministrante"
                                    [matAutocomplete]="autoProf" required>
                                  <mat-autocomplete #autoProf="matAutocomplete" [displayWith]="displayProfessor"
                                    (optionSelected)="selectProfessor($event)">
                                    <mat-option *ngFor="let item of professoresList" [value]="item">
                                      {{item.nome}}
                                    </mat-option>
                                  </mat-autocomplete>
                                  <mat-error *ngIf="professorForm.get('ministrante').hasError('required')">
                                    Ministrante é obrigatório.
                                  </mat-error>
                                </mat-form-field>
                            </div>

                            <div fxLayout="row" fxFlex=50>
                                <mat-form-field>
                                    <input matInput [matDatepicker]="picker" placeholder="Hora de inicio" formControlName="horainicio" required>
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                  </mat-form-field>
                            </div>
                            
                            <div fxLayout="row" fxFlex=50>
                                <mat-form-field fxFlex [floatLabel]="'always'">
                                <mat-label>Disciplina</mat-label>
                                <mat-select formControlName="disciplina" placeholder="Selecione uma disciplina" required>
                                    <mat-option *ngFor="let disciplina of disciplinaValues" [value]="disciplina">
                                    {{ Disciplina }}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="disciplinaForm.get('disciplina').hasError('required')">
                                    Disciplina é obrigatório.
                                </mat-error>
                                </mat-form-field>
                            </div>
                </div>
              </div>
            </form>
          </mat-card>
        </div>
      </div>
